openapi: 3.0.0

info:
  title: Auth API
  description: Admin & User authentication APIs (Laravel Passport)
  version: 1.0.0

servers:
  - url: https://seashell-okapi-169452.hostingersite.com/ems/public/api
    description: Production
  - url: http://192.168.0.142:8000/api
    description: Local development
  - url: http://127.0.0.1:8000/api
    description: Localhost 

components:
  schemas:
    Admin:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        email:
          type: string

    User:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        email:
          type: string

    AdminAuthResponse:
      type: object
      properties:
        token:
          type: string
        admin:
          $ref: '#/components/schemas/Admin'

    UserAuthResponse:
      type: object
      properties:
        token:
          type: string
        user:
          $ref: '#/components/schemas/User'

paths:
  # -------------------------------------------------------- Admin --------------------------------------------------------
  /admin/register:
    post:
      tags: [Admin Auth]
      summary: Register admin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, email, password]
              properties:
                name:
                  type: string
                email:
                  type: string
                password:
                  type: string
      responses:
        '201':
          description: Admin created

  /admin/login:
    post:
      tags: [Admin Auth]
      summary: Login admin
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                password:
                  type: string
      responses:
        '200':
          description: Success
        '401':
          description: Invalid credentials

  /admin/me:
    get:
      tags: [Admin Auth]
      summary: Get logged-in admin
      responses:
        '200':
          description: Admin profile
        '401':
          description: Unauthenticated

  /admin/logout:
    post:
      tags: [Admin Auth]
      summary: Logout admin
      responses:
        '200':
          description: Logged out
  
  /admin/users:
    get:
      tags: [Admin Users]
      summary: Get all users
      description: Retrieve all users for admin view
      responses:
        200:
          description: List of users
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                    email:
                      type: string
        401:
          description: Unauthenticated


  /admin/assessments:
    get:
      tags: [Admin Assessments]
      summary: Get all assessments
      responses:
        200:
          description: List of assessments

    post:
      tags: [Admin Assessments]
      summary: Create assessment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [assessment_type_id, title]
              properties:
                assessment_type_id:
                  type: integer
                title:
                  type: string
                description:
                  type: string
                publish_date:
                  type: string
                start_time:
                  type: string
                end_time:
                  type: string
                shuffle:
                  type: boolean
                is_library:
                  type: boolean
                is_active:
                  type: boolean
      responses:
        201:
          description: Assessment created

  /admin/assessments/{id}:
    get:
      tags: [Admin Assessments]
      summary: Get assessment
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Assessment details

    put:
      tags: [Admin Assessments]
      summary: Update assessment
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                assessment_type_id:
                  type: integer
                  example: 1
                title:
                  type: string
                  example: Math Test
                description:
                  type: string
                  example: Final exam
                publish_date:
                  type: string
                  example: "2026-01-30"
                start_time:
                  type: string
                  example: "10:00:00"
                end_time:
                  type: string
                  example: "11:00:00"
                shuffle:
                  type: boolean
                  example: true
                is_library:
                  type: boolean
                  example: false
                is_active:
                  type: boolean
                  example: true
      responses:
        200:
          description: Assessment updated

    delete:
      tags: [Admin Assessments]
      summary: Delete assessment
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Assessment deleted

  /admin/assessments/library:
    get:
      tags: [Admin Assessments]
      summary: Get library assessments
      responses:
        200:
          description: List of library assessments
  
  /admin/assessments/upcoming:
    get:
      tags: [Admin Assessments]
      summary: Get upcoming assessments (today, not started yet)
      responses:
        200:
          description: List of upcoming assessments

  /admin/assessments/running:
    get:
      tags: [Admin Assessments]
      summary: Get currently running assessments
      responses:
        200:
          description: List of running assessments

  /admin/assignments/users-with-assignment-status:
    get:
      tags: [Admin Assignments]
      summary: Get all users with assignment status for an assessment
      parameters:
        - name: assessment_id
          in: query
          required: true
          schema:
            type: integer
      responses:
        200:
          description: List of users with assignment status
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    user_id:
                      type: integer
                    name:
                      type: string
                    assigned:
                      type: boolean
        404:
          description: Assessment not found or not owned by admin
        422:
          description: Validation error


  /admin/assignments:
    post:
      tags: [Admin Assignments]
      summary: Assign assessment to multiple users
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [assessment_id, user_ids]
              properties:
                assessment_id:
                  type: integer
                user_ids:
                  type: array
                  items:
                    type: integer
      responses:
        201:
          description: Assessment assigned successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  assignments:
                    type: array
                    items:
                      type: object

    delete:
      tags: [Admin Assignments]
      summary: Remove assessment assignments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [assessment_id, user_ids]
              properties:
                assessment_id:
                  type: integer
                  example: 0
                user_ids:
                  type: array
                  minItems: 1
                  items:
                    type: integer
      responses:
        200:
          description: Assignments removed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  deleted_count:
                    type: integer

  /admin/assessments/{assessment_id}/questions:
    get:
      tags: [Admin Questions]
      summary: Get questions
      parameters:
        - name: assessment_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        200:
          description: List of questions
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object

    post:
      tags: [Admin Questions]
      summary: Create question
      parameters:
        - name: assessment_id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [type, question_text]
              properties:
                type:
                  type: string
                question_text:
                  type: string
                order:
                  type: integer
      responses:
        201:
          description: Question created
          content:
            application/json:
              schema:
                type: object

  /admin/questions/{id}:
    put:
      tags: [Admin Questions]
      summary: Update question
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                question_text:
                  type: string
                order:
                  type: integer
      responses:
        200:
          description: Question updated
          content:
            application/json:
              schema:
                type: object

    delete:
      tags: [Admin Questions]
      summary: Delete question
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Question deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string

  /admin/questions/{question_id}/choices:
    get:
      tags: [Admin Choices]
      summary: Get choices
      parameters:
        - name: question_id
          in: path
          required: true
          schema:
            type: integer
      responses:
        200:
          description: List of choices
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object

    post:
      tags: [Admin Choices]
      summary: Create choice
      parameters:
        - name: question_id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [option]
              properties:
                option:
                  type: string
                is_correct:
                  type: boolean
                order:
                  type: integer
      responses:
        201:
          description: Choice created
          content:
            application/json:
              schema:
                type: object

  /admin/choices/{id}:
    put:
      tags: [Admin Choices]
      summary: Update choice
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                option:
                  type: string
                is_correct:
                  type: boolean
                order:
                  type: integer
      responses:
        200:
          description: Choice updated
          content:
            application/json:
              schema:
                type: object

    delete:
      tags: [Admin Choices]
      summary: Delete choice
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Choice deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string


  # -------------------------------------------------------- User --------------------------------------------------------
  /user/register:
    post:
      tags: [User Auth]
      summary: Register user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, email, password]
              properties:
                name:
                  type: string
                email:
                  type: string
                password:
                  type: string

      responses:
        '201':
          description: User created

  /user/send-verification-code:
    post:
      tags: [User Auth]
      summary: Send email verification code
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
      responses:
        '200':
          description: Verification code sent

  /user/verify-email:
    post:
      tags: [User Auth]
      summary: Verify email using OTP
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, code]
              properties:
                email:
                  type: string
                code:
                  type: string
      responses:
        '200':
          description: Email verified

  /user/login:
    post:
      tags: [User Auth]
      summary: Login user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                password:
                  type: string

      responses:
        '200':
          description: Success

  /user/me:
    get:
      tags: [User Auth]
      summary: Get logged-in user
      responses:
        '200':
          description: User profile

  /user/logout:
    post:
      tags: [User Auth]
      summary: Logout user
      responses:
        '200':
          description: Logged out
